*{
    margin:0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.nav-items > ul{
    display: flex;
    justify-content: left;
    
    margin: 30px 10px 0px 0px;
}
.nav-items > ul >li{
    font-size: 20px;
    padding: 10px;
    list-style-type: none;
}
.logo{
    width: 180px;
}
.res-card{
    height: 385px;
    width: 200px;
    background-color: #f0f0f0;
    margin: 0 2px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding:10px;
}
.res-container{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.res-logo{
    margin: 4px ;
    width: 95%;
}
.filter{
    margin: 5px;
}
.filter-btn{
    padding: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin:20px;
    width: 200px;
    height:400px;
    background-color: #f0f0f0;
}

.login{
    padding: 0 20px;
}
.filter{
    display: flex;
}
/* .menuData{
    display: flex;

} */